<form #contactForm (submit)="onSubmit(contactForm)">
  <div>
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="phone">Phone</label><br>
    <input type="text" name="phone" id="phone">
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>

<button (click)="deleteAll()">Delete all</button>

<ul>
  <li *ngFor="let contact of contacts">
    <a [routerLink]="contact.slug">{{ contact.name }}</a><br>
    {{ contact.phone }}
  </li>
</ul>
